<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  </head>

  <body>
    <h1>JOIN US</h1>
    <p class="lead">Enter your email to join
    <strong> <%= count  %></strong>  others on our waitlist.</p>
      <form class="" action="/register" name='email' method="post">
        <input type="text" class='form' value="email" name='email' placeholder="Enter Your Email">
    <button type="submit" name="button">Join Now!</button>
      </form>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" charset="utf-8"></script>

  </body>
</html>
